/* * {
    border: 1px solid red
} */

body {
    margin: 0px;
    padding: 0px;
}

.navbar {
    height: 80px;
    width: 960px;
    margin: auto;
    padding: 10px;
}

img {
    height: 60px;
    float: right;
    margin: 10px;
}

.links {
    padding: 10px;
}

a {
    text-decoration: none;
    font-size: 16px;
}

a:visited {
    color: #b1b0b0;
}

a:focus {
    color: #0099ff;
}

a:hover {
    color: #0099ff;
}

a:active {
    color: #0099ff;
}

.tagline {
    background: #f0f0f0;
    margin: auto;
    padding: 20px;
}

h1 {
    width: 960px;
    margin: auto;
    padding: 20px;
}

h2 {
    width: 960px;
    margin: auto;
    padding: 20px;
}

p {
    width: 960px;
    margin: auto;
    padding: 20px;
}

footer {
    background: #f0f0f0;
    margin: auto;
    padding: 20px;
    height: 60px;
}

.copyright {
    padding: 20px;
}